.enrollment-form-section {
    padding-block: 4rem;
    text-align: center;

    .section-title {
        margin-bottom: 1.5rem;
    }

    .section-description {

        margin: 0 auto 4rem;
        font-size: 1.1rem;
        text-align: start;
    }
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.step-card {
    padding: 2rem;
    border: 1px solid var(--border);
    background: var(--card);
    text-align: left;
    transition: .3s;

    &:hover {
        border-color: var(--purple);
        transform: rotate(-10deg);
        background: var(--purple);

        .step-number {
            background-color: white;
            border-color: var(--bg);
            color: var(--bg);
        }
    }

    h3 {
        margin: 1rem 0;
        font-size: 12px;
        padding: 0.5rem;
        border-bottom: 2px solid var(--purple);
    }

    p {
        line-height: 1.7;
        color: var(--muted-foreground);
    }

    .step-number {}
}

.step-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 58px;
    height: 58px;


    border: 2px solid var(--border);


    font-weight: 700;
    font-size: 1.4rem;
}

.submit-button {
    margin: auto;
}

@media (max-width: 900px) {
    .steps-grid {
        grid-template-columns: 1fr;
    }

    .step-card {
        text-align: center;
    }
}