.section-your-journey {
    position: relative;
    margin-bottom: 6.25rem;

    .section-title.your-journey-title {
        margin-bottom: 2rem;
    }

    .your-journey-description {
        font-size: 32px;
        line-height: 1.4;

        @media (max-width: 768px) {
            font-size: 22px;
            line-height: 1.4;
        }


    }

    .journey-cards {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;

        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        @media (min-width: 1024px) {
            flex-wrap: nowrap;
            gap: 2rem;
        }
    }

    .journey-card {
        width: 100%;
        flex: 1;
        min-width: 0;

        transition:
            transform 0.4s ease,
            box-shadow 0.4s ease;

        @media (hover: hover) {
            &:hover {
                transform: translateY(-8px) rotate(2deg);

            }
        }
    }
}