  header {
      border-block: 1px dashed var(--border);
      padding: 0.75rem;
      align-items: end;
      position: absolute;
      z-index: 10;
      width: 100%;

      .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0%;

          menu ul {
              display: flex;
              gap: 1.5rem;
              list-style: none;
          }

          menu ul li a {
              position: relative;
              text-decoration: none;
              padding: 0.75rem;
              display: inline-block;
              color: white;
              font-weight: 600;
              cursor: pointer;
          }


          menu ul li a::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;


              width: 100%;
              height: 2px;
              background: var(--accent);

              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.3s ease;
          }


          menu ul li a:hover::after {
              transform: scaleX(1);
          }
      }

      .header-actions {
          display: flex;
          align-items: center;
          gap: 1rem;

          .timer-button {
              @media (max-width: 768px) {
                  display: none;
              }
          }


      }



      .menu-button,
      .close-menu {
          display: none;
      }

      menu li {
          opacity: 0;
          transform: translateY(-12px);
          transition: .35s ease;
      }

      menu.open li {
          opacity: 1;

      }


      @media (max-width:768px) {

          menu {
              position: absolute;
              top: calc(100% + 8px);
              left: 0;
              width: 100%;
              padding: 0 0.75rem;

              ul {
                  padding: 1rem;
                  width: 100%;
                  background: #0f011a;
                  border: 1px solid var(--border);
                  backdrop-filter: blur(12px);
              }

              overflow: hidden;

              max-height: 0;

              opacity: 0;

              visibility: hidden;

              transition: max-height .45s ease,
              opacity .35s ease,
              visibility .35s;
          }

          menu.open {
              max-height: 320px;
              opacity: 1;
              visibility: visible;
          }

          menu ul {
              display: flex;
              flex-direction: column;
          }

          menu li {
              list-style: none;
          }

          menu a {
              display: block;
              font-size: 1rem;
              font-weight: 600;
              width: 100%;
              color: var(--accent);
          }

          menu a:hover {
              background: #ffffff0d;
          }

          .menu-button {
              width: 48px;
              height: 48px;

              display: flex;
              justify-content: center;
              align-items: center;

              background: transparent;
              border: 1px solid white;
              color: white;
              cursor: pointer;

              transition: .3s;
          }

          .close-menu {
              display: none;
          }
      }
  }