#hero {
  background: var(--gradient-primary);
  min-height: 100vh;
  padding-top: 1.5rem;
  position: relative;


  .hero-date-session {
    border: 1px solid var(--border);
    padding: 0.625rem;
    width: fit-content;
    margin: 3.125rem auto;
    display: flex;
    gap: 0.75rem;
    margin-top: 7.125rem;


    @media (max-width: 768px) {
      width: 100%;
      font-size: small;
    }


    img {
      width: 1.25rem;
    }
  }

  .hero-content-container {
    position: relative;

    .container {

      .hero-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        line-height: 1;
        overflow: hidden;


        .masterclass {
          font-size: 5rem;
          font-weight: 600;

          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
        }

        .frontend {
          border: 4px solid var(--accent);
          font-size: 4.6875rem;
          font-weight: 400;
          color: var(--accent);
          width: fit-content;
          padding: 0.5rem;

          @media (max-width: 768px) {
            font-size: 3rem;
          }
        }

        .development {
          font-size: 6rem;
          font-weight: 800;

          @media (max-width: 768px) {
            font-size: 2.5rem;
          }

        }
      }

      .call-actions {
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media (max-width: 768px) {
          margin-top: 3.125rem;
          flex-direction: column;
        }

        button,
        a {
          @media (max-width: 768px) {
            width: 100%;
          }

        }
      }

      .google-meet-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 5.875rem;
        margin-bottom: 4rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }

  .image-and-illustrations {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }



    .hero-girl-image {
      width: 639px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .logo-image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 340px;
    }

    .price-card {
      padding: 0.75rem;
      position: absolute;
      z-index: 2;
      top: 22.875rem;
      right: 20rem;
      border: 2px solid var(--accent);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      transform: rotate(-30deg);

      .content-frontend-text {
        display: flex;
        gap: 8px;
        padding: 10px;

        p {
          white-space: nowrap;
          font-weight: 700;
        }
      }

      p.price {
        font-size: 2.5rem;
        color: var(--accent);
        font-weight: 700;
        margin-top: 0.75rem;

      }

      img {
        width: 1.25rem;
      }

    }

  }
}


.section {
  min-height: 100vh;
}

.section-title {
  padding: 12px;
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
  width: fit-content;
  margin-top: 4rem;
  margin-bottom: 7.25rem;
}

.section-description {
  font-size: clamp(0.75rem, 6vw, 50px);
  line-height: 1.4;
  font-weight: 400;
}

.gsap-full-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.gsap-tech-track {
  display: flex;
  width: max-content;
  gap: 2rem;
  padding-top: 4.25rem;
  margin-top: 9rem;
  position: absolute;
  left: 0;
}

.page-content {
  position: relative;
  z-index: 2;
  background: var(--bg);
  border-bottom: 1px solid var(--border);

}

.mask-section {
  .mask-container {
    height: 400vh;

    position: relative;
    overflow-x: hidden;
  }


  .mask-image-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;


    mask-image: url("/mask.svg");
    -webkit-mask-image: url("/mask.svg");

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: center;
    -webkit-mask-position: center;


    z-index: 2;



    .greenScreen {
      width: 100%;
      height: 100vh;
      background-color: var(--accent);
      opacity: 0;
      z-index: 90;
      position: absolute;
      top: 0;
      left: 0;
    }

    .mask-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }



  .content-mask {
    position: absolute;
    inset: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    pointer-events: none;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10rem;
    }
  }

  .logo-on-mask {
    width: 200px;
    flex-shrink: 0;
  }

  .title-on-mask {
    font-size: clamp(1.5rem, 14vw, 10rem);
    line-height: 1;
    white-space: nowrap;
    color: white;
  }

  .logo-on-mask,
  .title-on-mask {
    position: relative;
    z-index: 101;
  }
}

.footer-spacer {
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: var(--bg);
  overflow: hidden;

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
    gap: 1rem;

    .footer-google-meet-section {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-weight: bold;

      img {
        width: 50px;
      }
    }

    @media (max-width: 1024px) {
      padding: 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      padding: 2rem 1rem;
    }
  }

  .footer-code-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3.5rem;

    img {
      width: 250px;
    }

    span {
      font-size: clamp(3rem, 12vw, 20rem);
      font-weight: bold;
      line-height: 1;
    }

    @media (max-width: 1024px) {
      gap: 1.5rem;

      img {
        width: 150px;
      }
    }

    @media (max-width: 768px) {
      gap: 1rem;
      margin-top: 2rem;

      img {
        width: 90px;
      }

      span {
        text-align: center;
        font-size: clamp(1.5rem, 14vw, 5rem);
      }
    }
  }
}




@keyframes float-soft {

  0%,
  100% {
    transform: translateY(30);
  }

  50% {
    transform: translateY(-10px);
    transform: rotate(10deg);
  }
}

.float-box {
  animation: float-soft 1.4s ease-out infinite;
}